<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/pages/css/login.css">
</head>
<body>
<div class="form-container">
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
        <h1>Login</h1>

        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}"/>

        <label for="password">Password:</label>
        <input type="text" id="password" th:field="*{password}"/>

        <button type="submit">Submit</button>
    </form>
</div>
<div>
    <h1 th:text="${successMessage}"></h1>
</div>
</body>
</html>