<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product</title>
    <link rel="stylesheet" type="text/css" href="/pages/css/product.css">
</head>
<body>
<h1>Product Details</h1>
<div class="product-container" th:if="${product != null}">
    <div class="product-photo">
        <img th:src="@{'data:image/jpeg;base64,' + ${photo}}" alt="Product Photo" style="width: 450px; height: 450px;"/>
    </div>
    <div class="product-info">
        <h2 th:text="${product.name}"></h2>
        <p th:text="${pricesMinAndMax[0]} + ' - ' + ${pricesMinAndMax[1]} + ' Br'"></p>
        <p th:text="${product.description}"></p>
    </div>
</div>
<div th:object="${productSellers}">
    <h3>Sellers:</h3>
    <ul>
        <li th:each="seller : ${productSellers}">
            <div>
                <h4><span th:text="${seller.name}">Seller Name: </span></h4>
                <p><span th:text="${allPrice.get(seller.Id)}">Price: </span></p>
                <!-- Добавлять сюда более подробную информацию о каждом продавце, например
                <p>Phone: <span th:text="${seller.phone}">Phone Number: </span></p>
                ... -->
                <button th:text="'Add cart'">Add cart</button>
            </div>
        </li>
    </ul>
</div>
<div class="bottom-info">
    <form action="/catalog/" method="get">
        <button type="submit">return</button>
    </form>
</div>
<div th:unless="${product != null}">
    <p>No product found.</p>
</div>
</body>
</html>